<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/please-wait.css' />
    <link rel='stylesheet' href='/stylesheets/default.css' />    
    <script type="text/javascript" src="/javascripts/jquery-1.8.3.min.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
